.header1{
    padding:0 10%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.item{
    list-style-type: none;
    margin:15px 10px 0 10px;
    align-self: center;
    font-weight: 500;
    font-size: 18px;
    
}
.item:hover{
  cursor: pointer;
}

.secondaryNav{
    padding:0 20px;
    display: flex;
    justify-content: space-between; 
}

.logo{
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
    color: darkred;
}
.cart_length{
    background-color: white;
    border-radius: 60%;
    color:black;
    padding:2px 5px;
}